/* styles.css */
body{
  background-image: url(../public/jelly.gif);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the container takes up the full viewport height */
  margin-top:10px;
}

.heading {
  text-align: center;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size:50px;
  margin-bottom: 20px; /* Add some spacing between the heading and the dropdown */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #3498db;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  width: 140px;
  border: none;
  cursor: pointer;
  position: relative; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Arrow styles */
.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  transition: transform 0.2s;
}

/* Arrow rotation when dropdown is open */
.dropdown-button.open .arrow {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  width: 138px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style:none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-list li {
  padding: 10px 20px;
  cursor: pointer;
  font-size:smaller;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
